.booking-place {
    display: flex;
    margin-top: 100px;

}
.place-info {
    width: 50%;
    color: white;
    align-items: center;
    margin: auto auto;
}
.place-info h1 {
    font-size: 3.5rem;
    padding: 10px 0;
    border-bottom: 2px solid #f1f1f1aa;
}

.place-form {
    width: 50%;
    align-items: center;
}
.form-item {
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    background-color:#ecf0f1;
}
.start-booking-btn {
    width: 100%;
    margin-top: 10px;
    justify-self: center;
    font-weight: 600;
}